*	 	{ box-sizing: border-box; }
h1 		{ font: bold 24px arial; color: #fff; }
body 	{ font: normal 14px Calibri; line-height: 130%; background: #42190c; padding: 5px 10px; }
header	{ text-align: center; color: #777; }
footer	{ padding: 25px 10px 15px; text-align: center; font-size: 12px; color: #777; }
a		{ color: #eee; }
a:hover	{ color: #fff; }
.black{color:black}
.active {color: black;}
.activeNegative {color: red;}

.clear { clear: both; }

#tab, .tabs { border: 2px solid #933506; border-radius: 10px; background: #74280a; border-spacing: 0px; border-collapse: separate; margin: 30px auto; box-shadow: 5px 5px 4px rgba(0, 0, 0, .3); }
#tab td, #tab th, .tabs > * { padding: 4px; background: #853213; color: #fff; border: 2px solid #74280a;  }
#tab th { background: #44c201; font-size: 16px; text-shadow: 1px 1px 1px black; }
#tab tr td:first-child { text-align: center; }
#tab tr:hover td { border-top-color: #44c201; border-bottom-color: #44c201; }
#tab tr:hover td:first-child { border-left-color: #44c201; }
#tab tr:hover td:last-child { border-right-color: #44c201; }
#tab td.tags > .img_tag_off,
    #tab td.tags > .img_tag,
    div.tags > .img_tag,
    div.tags > .img_tag_off
    {
         border: 0;
         margin: 2px 2px;
    }
div.tags > .img_tag,
div.tags > .img_tag_off{
    font-size: 16px;
    text-align: center;
}
#tab th.tags > .img_tag, div.tags > .img_tag { display: block; float: left; width: 31px; height: 31px; border: 0; margin: 2px 2px; }
#tab td.tags > *{
    display: block; float: left; width: 31px; height: 31px;
}
#tab td.tags > .tooltip{
    margin: 2px 2px;
}
#tab td.tier2 {
    font-weight: bolder;
    color:#44c201;
}
.tooltip, #tab td.tags > .tooltip{
outline-style: dotted; /* 2px solid; */
outline-color: green;

}
.clickable, .hoverShowClickable:hover{
    outline-style: dotted;
    outline-color: lightblue;
    cursor: pointer;
}
.img_tag_off { -webkit-filter: grayscale(100%) opacity(30%); filter: grayscale(100%) opacity(30%);  }
.img_portrait { height: 50px; margin: 0; display: block; }
.rarities{
    display:inline;
    margin-left:2px;
    margin-right:-2px;
}
.rarity{
    width:10px;
    height:10px;
    display:inline-block;
    /* line up the text with the boxes*/
    margin-top:1px;
    margin-left: 2px;
    margin-right:2px;
    border: 1px solid black;
}
.rarity0{
    background:black;
}
.rarity1{
    background:white;
}
.rarity2{
    background:green;
}
.rarity3{
    background:blue;
}
.rarity4{
    background:purple;
}
.rarity5{
    background:orange;
}
.golden{
    border: solid orange 1px;
}

.onGreen{ background: #44c201; font-size: 16px; text-shadow: 1px 1px 1px black; color: white; }
div.ep{
    display:inline;
}
input.medium{
    max-width: 60px;
}
select.dps, option.dps{
    font-weight: bold;
}
tr .sharedEp{
 color:grey;
}
tr.dps .sharedEp{
    color:white;

}
.fullwidth{
    width: 100%;
}
.vcenter{
    vertical-align: center
}
.textcenter{
    text-align: center
}


.tabs {
  margin: 25px;
  /*background: #fff;
  border: 1px solid #e5e5e5;*/
  border-radius: 3px;
}
.tabs__labels {
  margin: 0;
  padding: 0;
}
.tabs__labels li {
  display: inline-block;
}
.tabs__labels li a {
  padding: 8px 12px;
  display: block;
  /*color: #444;*/
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabs__labels li a.activeTab {
  border-bottom-color: #337ab7;
}
.tabs__content {
  padding: 25px;
}
.dpsHeaderRow > th,
.dpsHeaderRow > td:nth-child(-n+8){
    border-top: 1px solid black;
}
input.idols{
    max-width: 70px;
}